@model Crud.NorthW.App.MVC.Models.ErrorView

@{
    ViewBag.Title = "Index";
}

<h2>Ups! Hubo un error :(</h2>
<hr />
<div class="alert alert-danger" role="alert">
    <p">El error es el siguiente: <strong>@Model.ErrorMessage</strong></p>
</div>


