@model Crud.NorthW.App.MVC.Models.ErrorView

@{
    ViewBag.Title = "Index";
}

<h2>Ups! Hubo un error en la APP :(</h2>
<hr />
<div class="alert alert-danger" role="alert">
    <p">El error es el siguiente: <span class="text-bg-danger px-1">@Model.ErrorMessage</span></p>
</div>


